.flexContainer {
  min-height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  gap: 1rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexContainer h1 {
  font-weight: 500;
  margin-left: 1rem;
}

.navBar h2 {
  font-family: 'Single Day', cursive;
  color: var(--color-primary);
  font-size: 2rem;
}

.headerLink {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.avatar {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid white;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  max-width: 1700px;
  width: 100%;
  align-self: center;
}

@media screen and (min-width: 1400px) {
  .flexContainer h1 {
    font-size: 2.3rem;
  }

  .avatar {
    width: 60px;
  }
  .navBar h2 {
    font-size: 3rem;
  }

  .mainContainer {
    padding-top: 1rem;
  }

}
