.weatherCard {
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dateTime {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff4ade;
  padding-block: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

.weatherData {
  height: 100%;
  background-color: #101744;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1rem;
}

.weatherSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  text-align: center;
  min-height: 100px;
}

.sectionDivider {
  min-height: 5rem;
  background-color: white;
  width: 1.3px;
}

.weatherIcon {
  min-width: 60px;
  margin-inline: auto;
}

.weatherIcon + p {
  font-size: 1.3rem;
}

.temperature {
  font-size: 2.5rem;
  font-weight: 500;
}

.dataStatsSection {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.dataStatsSection > img {
  width: 1.3rem;
  aspect-ratio: 1;
}

.dataDetails {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.2rem;
}

.weatherSection:last-of-type {
  justify-content: space-evenly;
}

@media screen and (min-width: 1400px) {
  .dateTime {
    font-size: 2.5rem;
    padding-block: 1rem;
  }

  .weatherIcon {
    min-width: 90px;
    margin-inline: auto;
  }

  .weatherIcon + p {
    font-size: 1.8rem;
  }

  .temperature {
    font-size: 3.3rem;
    font-weight: 500;
  }

  .dataStatsSection {
    gap: 1.2rem;
  }

  .dataStatsSection > img {
    width: 1.8rem;
  }

  .dataDetails {
    font-size: 1.2rem;
    row-gap: 0.3rem;
  }

  .weatherSection {
    gap: 1rem;
    min-height: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .weatherIcon {
    width: 40px;
    /* margin-inline: auto; */
  }

  .weatherIcon + p {
    font-size: 1rem;
  }

  .temperature {
    font-size: 2rem;
  }

  .dataStatsSection{
    gap: 0.5rem;
    font-size: .8rem;
  }
  .dataStatsSection > img {
    width: 1rem;
    aspect-ratio: 1;
  }
}
