.categoryTile {
  background-color: aquamarine;
  width: 180px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 0.8rem;
  border-radius: 15px;
  border: 5px solid transparent;
  cursor: pointer;
}

.selected {
  border-color: var(--color-tile-border);
}

.categoryTile p {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  align-self: flex-start;
  letter-spacing: 0.1rem;
}

.categoryTile img {
  margin-top: auto;
  height: 60%;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

@media screen and (min-width: 1400px) {
  .categoryTile {
    width: 270px;
    padding-block: 1.4rem;
    padding-inline: 1.2rem;
  }

  .categoryTile p {
    font-size: 2.2rem;
  }
}
