.flexContainer {
  min-height: 100vh;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding-inline: 4rem;
}

.categoryLeft {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 4rem;
}

.categoryLeft h1 {
  font-family: 'Single Day', cursive;
  color: var(--color-primary);
  font-size: 3rem;
}

.categoryLeft h2 {
  font-size: 3.5rem;
  max-width: 40pc;
}

.selectedCategories {
  max-width: 40pc;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.warningContainer {
  display: flex;
  align-items: baseline;
}

.warningContainer img {
  width: 20px;
  margin-right: 0.5rem;
}

.categoryRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 2rem;
}

.tilesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.formButton {
  background-color: var(--color-button);
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 31px;
  align-self: flex-end;
  cursor: pointer;
}

.formButton:disabled {
  background-color: var(--color-disabled);
  cursor: not-allowed;
}

@media screen and (min-width: 1400px) {
  .tilesContainer{
    gap: 1.3rem;
  }
}
