.movieSection {
  position: relative;
  height: 100%;
  min-height: 200px;
  flex: 1;
}

.movieSection h3 {
  color: #878787;
  line-height: 140%;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.movie {
  flex-basis: 250px;
  aspect-ratio: 16/9;
  flex-shrink: 0;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.308);
  color: white;
  background-size: cover;
  user-select: none;

  display: flex;
  align-items: end;
  padding: 0.5rem;

  scroll-snap-align: start;
}

.movieName {
  padding: 0.5rem;
  border-radius: 5px;
  background: #00000077;
  font-weight: bold;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

@media screen and (min-width: 1400px) {
  .movie {
    flex-basis: 300px;
  }
  .movieSection h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 768px) {
  .movie {
    flex-basis: 320px;
  }
}
