* {
  font-family: 'Roboto', sans-serif;
}

.registerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.fieldError {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: red;
}

.formInput,
.formButton {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 1rem;
  color: white;
  padding-block: 0.6rem;
  text-indent: 0.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-bg-gray);
}
.formInput:focus {
  border: 2px solid var(--color-primary);
}

.formInput::placeholder {
  color: var(--color-placeholder);
}

.formInput.error {
  border: 2px solid red;
}

input[type='checkbox'] {
  margin-right: 0.5rem;
  border: none;
  accent-color: var(--color-primary);
}

.tNcDiv {
  display: flex;
}

.formButton {
  border-radius: 3rem;
  font-weight: 600;
  text-indent: 0;
  background-color: var(--color-primary);
}

.registerRightBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  margin-top: 2rem;
}

.registerRightBottom p {
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

.registerRightBottom > p span {
  font-weight: bold;
  color: var(--color-primary);
}

@media only screen and (max-width: 768px) {
  .formInput,
  .formButton {
    padding-block: 0.9rem;
  }
  .formField :last-of-type {
    font-size: 0.95rem;
  }
}
