:root {
  --color-primary: #72db73;
  --color-button: #148a08;
  --color-tile-border: #11b800;
  --color-bg-gray: #292929;
  --color-placeholder: #7c7c7c;
  --color-disabled: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error {
  color: red;
}

/* div {
  border: 1px solid red;
} */
