.noteContainer {
  background-color: #f1c75b;
  height: 100%;
  border-radius: 1rem;
  overflow-y: auto;
  padding: 1.5rem;
}

.noteTitle {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105.688%;
  letter-spacing: 0.0475rem;
}

.noteTextArea {
  margin-top: 1rem;
  width: 100%;
  height: calc(100% - 3rem);
  background: inherit;
  border: none;
  outline: none;
  text-indent: 0.2rem;
  line-height: 120%;
  resize: none;
}
