.homePageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 1rem;
  gap: 1rem;
}

.homePageContainer > button {
  background-color: var(--color-button);
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 31px;
  align-self: flex-end;
  cursor: pointer;
}

.flexContainer {
  flex: 1;
  display: flex;
  color: white;
  justify-content: space-between;
  gap: 1rem;
}

.containerLeft {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  /* padding: 1rem; */
}

.profileContainer {
  grid-column: 1 / span 5;
  grid-row: 1/3;
}

.weatherContainer {
  height: 100%;
  grid-column: 1 / span 5;
}

.notesContainer {
  grid-column: 6 / -1;
  grid-row-start: 1;
  grid-row-end: 4;
}

.timerContainer {
  height: 100%;
  grid-column: 1/-1;
  grid-row: 4/5;
}

.containerRight {
  flex: 1;
  max-width: 350px;
  /* padding: 1rem; */
}

@media screen and (min-width: 1400px) {
  .homePageContainer {
    padding: 2rem 2rem 1rem 2rem;
  }
  .flexContainer {
    gap: 2rem;
  }
  .containerLeft {
    gap: 2rem;
  }

  .profileContainer {
    height: 100%;
  }

  .weatherContainer {
    grid-row: 3/4;
  }

  .containerRight {
    max-width: 450px;
  }
}

@media only screen and (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
  }

  .containerLeft {
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 1rem;
  }

  .notesContainer {
    grid-column: 1/-1;
    grid-row: auto;
    height: 30vh;
  }

  .containerRight {
    max-width: 100%;
  }
  
}
