.flexContainer {
  height: 100vh;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  gap: 1rem;
}

.containerLeft {
  background-color: darksalmon;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.profileContainer {
  grid-column: 1/5;
  grid-row: 1/5;
}

.weatherContainer {
  grid-column-start: 1;
  grid-column-end: 5;
}

.notesContainer {
  grid-column: 5 / 7;
  grid-row-start: 1;
  grid-row-end: 6;
}

.containerRight {
  flex: 1;
  max-width: 350px;
  padding: 2rem;
}
